/* NeonText.css */
@keyframes glow {
  from {
    color: grey;
  }
  to {
    color: white;
  }
}

.neon-text {
  animation: glow 2s ease infinite alternate;
  cursor: pointer;
}


/* this is for floating a photo*/
@keyframes float {
  0%, 100% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(5px);
  }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}


@keyframes Back {
  from {
    color: rgb(17, 16, 16);
    background-color: rgb(192, 204, 23);
  }
  to {
    color: rgb(14, 13, 13);
    background-color: rgb(223, 133, 15);
  }
}

.neon-GoBack {
  animation: Back 1s ease infinite alternate;
  cursor: pointer;
}
